<script src="phaser.js"></script>
<script src="kek.js"></script>
<script type="text/javascript">
// сделать буфер (пихать в массив в on message(event)) и доставать данные оттуда в update()
//документация createServer()
    var game = new Phaser.Game(1024, 576, Phaser.AUTO, '', { preload: preload, create: create, update: update });
    
    var card;
    var card2;
    var connected = false; //костыль!
    var WebSocketBuf = []; //очередь команд, получаемых от сервера
    //var me = new Player(512, 540);

    // var socket = new WebSocket("ws://localhost:8081/echo");
    // socket.onmessage = function(event) {
    //     var data = JSON.parse(event.data);
    //     // me.cards = data.PlayerCards;
    //     // me.fieldCards = data.PlayerFieldCards;
    // };

    // var sendMessage = function(msg) {
    //     socket.send(msg);
    // };

    // socket.onopen = function() {
    //     connected = true;
    // }

    function preload() {
        game.forceSingleUpdate = true;
        game.load.image('background', 'assets/background.jpg');
        game.load.image('card', 'assets/cardBack.jpg');

    }
    function create() {
        game.add.tileSprite(0, 0, 1024, 576, 'background');
        card = new Card(512, 288);
        card2 = new Card(600, 288);
        card2.moveTo(400, 490);
        player = new Player(512, 540);
    }

    function update () {
        // if (connected == true) {
        //     sendMessage(card2.x);
        //     card.moveTo(WebSocketBuf[0], 150);
            
        //     WebSocketBuf.pop();
        //     if (game.input.mousePointer.isDown) {
        //         console.log(card2.tween.isRunning);
        //         card2.moveTo(400, 500);
                
        //     }
        }
        //card2.changeState();
    
</script>
