<!DOCTYPE html>
<html>
    <head>
        <title>MyGame</title>
    </head>

    <body>
        <h1>Add a session</h1>

        <form id="session_form" method="post" action="/mygame/add_session/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create session" />
        </form>
    </body>

</html>