<!DOCTYPE html>
<html>
    <head>
        <title>mygame</title>
    </head>

    <body>
        <h1>Login to mygame</h1>

        <form id="login_form" method="post" action="/mygame/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
        <a href="/mygame/register/">Register Here</a><br />
    </body>
</html>