<!DOCTYPE html>
<html>
    <head>
        <title>MyGame</title>
    </head>

    <body> <br /> Hello, {{user.username}}! <br />
        {% if sessions %}
            <ul>
                {% for session in sessions %}
                    <li><a href="/mygame/gameSession/{{ session.slug }}">{{ session.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no sessions present.</strong>
        {% endif %} <br />
        <a href="/mygame/add_session/">Create new battleground</a><br />
        <a href="/mygame/logout/">Logout</a><br />
    </body>
</html>