<!DOCTYPE html>
<html>
    <head>
        <title>mygame</title>
    </head>

    <body>
        <h1>Register with mygame</h1>

        {% if registered %}
            mygame says: <strong>thank you for registering!</strong>
        <a href="/mygame/">Return to the homepage.</a><br />
        {% else %}
        mygame says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/mygame/register/"
                enctype="multipart/form-data">

            {% csrf_token %}


            {{ user_form.as_p }}
            {{ profile_form.as_p }}


            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>