<!DOCTYPE html>
<html>
    <head>
        <title>MyGame</title>
    </head>

    <body>
        <h1>{{ this }}</h1>
        {% if this %}
            <strong>Player1: {{player1}} </strong> <br />
            <strong>Player2: {{player2}} </strong> <br />
        {% else %}
            The specified category {{ this }} does not exist!
        {% endif %}
    </body>
</html>

# здесь должна быть игровая сессия